@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body { font-family: "Roboto", sans-serif; }
table { border-collapse: collapse; }
th, td { border: 1px solid black; padding: 0.5em 1em; text-align: center; }
th:first-of-type, td:first-of-type { text-align: left; }
th { background:rgb(115, 167, 222); }
td { color: #777; }
td a { color: black; font-weight: 700; text-decoration: none; }
td a:hover { text-decoration: underline; }